In [1]:
기관코드 = '101'
통계표ID = 'DT_1DA7012S'

In [20]:
# 성별 코드
sex_id = {
    '계': '0',
    '남자': '2',
    '여자': '3'
}

# 연령 코드
age_id = {
    '계': '00',
    '15 - 29세': '75',
    '15 - 19세': '10',
    '20 - 29세': '20',
    '20 - 24세': '201',
    '25 - 29세': '202',
    '30 - 39세': '30',
    '30 - 34세': '301',
    '35 - 39세': '302',
    '40 - 49세': '40',
    '40 - 44세': '401',
    '45 - 49세': '402',
    '50 - 59세': '50',
    '50 - 54세': '501',
    '55 - 59세': '502',
    '60세이상': '60',
    '60 - 64세': '601',    
    '65세 이상': '602',    
    '15 - 64세': '63',
    '15 - 24세': '70'
}

# 항목 코드
itm_id = {
    '인구': 'T10',
    '경제활동인구': 'T20',
    '취업자': 'T30',
    '실업자': 'T40',
    '비경제활동인구': 'T50',
    '경제활동참가율': 'T60',
    '실업률': 'T80',
    '고용률': 'T90'
}

In [7]:
query = 'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=MDUwYjkzYmRhZjc4Yzk5M2QyZDg1NDBhNjNlOTNjZmQ=&itmId=T10+&objL1=0+&objL2=00+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=199906&endPrdDe=202012&loadGubun=1&orgId=101&tblId=DT_1DA7012S'
query = 'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=MDUwYjkzYmRhZjc4Yzk5M2QyZDg1NDBhNjNlOTNjZmQ=&itmId={0}+&objL1={1}+&objL2={2}+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=199906&endPrdDe=202012&loadGubun=1&orgId=101&tblId=DT_1DA7012S'

In [18]:
import requests
import pandas as pd
import time, random

In [21]:
df = pd.DataFrame()

for item in itm_id.values():
  for sex in sex_id.values():
    for age in age_id.values():
      query_temp = query.format(item, sex, age)
      r = requests.get(query_temp)
      data = r.json()
      df_temp = pd.DataFrame(data)
      df = df.append(df_temp, ignore_index=True)
      print(item, sex, age, df.shape)

      time.sleep(random.uniform(1,3))

T10 0 00 (259, 21)
T10 0 75 (518, 21)
T10 0 10 (777, 21)
T10 0 20 (1036, 21)
T10 0 201 (1295, 21)
T10 0 202 (1554, 21)
T10 0 30 (1813, 21)
T10 0 301 (2072, 21)
T10 0 302 (2331, 21)
T10 0 40 (2590, 21)
T10 0 401 (2849, 21)
T10 0 402 (3108, 21)
T10 0 50 (3367, 21)
T10 0 501 (3626, 21)
T10 0 502 (3885, 21)
T10 0 60 (4144, 21)
T10 0 601 (4403, 21)
T10 0 602 (4662, 21)
T10 0 63 (4921, 21)
T10 0 70 (5180, 21)
T10 2 00 (5439, 21)
T10 2 75 (5698, 21)
T10 2 10 (5957, 21)
T10 2 20 (6216, 21)
T10 2 201 (6475, 21)
T10 2 202 (6734, 21)
T10 2 30 (6993, 21)
T10 2 301 (7252, 21)
T10 2 302 (7511, 21)
T10 2 40 (7770, 21)
T10 2 401 (8029, 21)
T10 2 402 (8288, 21)
T10 2 50 (8547, 21)
T10 2 501 (8806, 21)
T10 2 502 (9065, 21)
T10 2 60 (9324, 21)
T10 2 601 (9583, 21)
T10 2 602 (9842, 21)
T10 2 63 (10101, 21)
T10 2 70 (10360, 21)
T10 3 00 (10619, 21)
T10 3 75 (10878, 21)
T10 3 10 (11137, 21)
T10 3 20 (11396, 21)
T10 3 201 (11655, 21)
T10 3 202 (11914, 21)
T10 3 30 (12173, 21)
T10 3 301 (12432, 21)
T10 3 302 (12691, 21)
T10 3 40 (12950, 21)
T10 3 401 (13209, 21)
T10 3 402 (13468, 21)
T10 3 50 (13727, 21)
T10 3 501 (13986, 21)
T10 3 502 (14245, 21)
T10 3 60 (14504, 21)
T10 3 601 (14763, 21)
T10 3 602 (15022, 21)
T10 3 63 (15281, 21)
T10 3 70 (15540, 21)
T20 0 00 (15799, 21)
T20 0 75 (16058, 21)
T20 0 10 (16317, 21)
T20 0 20 (16576, 21)
T20 0 201 (16835, 21)
T20 0 202 (17094, 21)
T20 0 30 (17353, 21)
T20 0 301 (17612, 21)
T20 0 302 (17871, 21)
T20 0 40 (18130, 21)
T20 0 401 (18389, 21)
T20 0 402 (18648, 21)
T20 0 50 (18907, 21)
T20 0 501 (19166, 21)
T20 0 502 (19425, 21)
T20 0 60 (19684, 21)
T20 0 601 (19943, 21)
T20 0 602 (20202, 21)
T20 0 63 (20461, 21)
T20 0 70 (20720, 21)
T20 2 00 (20979, 21)
T20 2 75 (21238, 21)
T20 2 10 (21497, 21)
T20 2 20 (21756, 21)
T20 2 201 (22015, 21)
T20 2 202 (22274, 21)
T20 2 30 (22533, 21)
T20 2 301 (22792, 21)
T20 2 302 (23051, 21)
T20 2 40 (23310, 21)
T20 2 401 (23569, 21)
T20 2 402 (23828, 21)
T20 2 50 (24087, 21)
T20 2 501 (24346, 21)
T20 2 502 (24605, 21)
T20 2 60 (24864, 21)
T20 2 601 (25123, 21)
T20 2 602 (25382, 21)
T20 2 63 (25641, 21)
T20 2 70 (25900, 21)
T20 3 00 (26159, 21)
T20 3 75 (26418, 21)
T20 3 10 (26677, 21)
T20 3 20 (26936, 21)
T20 3 201 (27195, 21)
T20 3 202 (27454, 21)
T20 3 30 (27713, 21)
T20 3 301 (27972, 21)
T20 3 302 (28231, 21)
T20 3 40 (28490, 21)
T20 3 401 (28749, 21)
T20 3 402 (29008, 21)
T20 3 50 (29267, 21)
T20 3 501 (29526, 21)
T20 3 502 (29785, 21)
T20 3 60 (30044, 21)
T20 3 601 (30303, 21)
T20 3 602 (30562, 21)
T20 3 63 (30821, 21)
T20 3 70 (31080, 21)
T30 0 00 (31339, 21)
T30 0 75 (31598, 21)
T30 0 10 (31857, 21)
T30 0 20 (32116, 21)
T30 0 201 (32375, 21)
T30 0 202 (32634, 21)
T30 0 30 (32893, 21)
T30 0 301 (33152, 21)
T30 0 302 (33411, 21)
T30 0 40 (33670, 21)
T30 0 401 (33929, 21)
T30 0 402 (34188, 21)
T30 0 50 (34447, 21)
T30 0 501 (34706, 21)
T30 0 502 (34965, 21)
T30 0 60 (35224, 21)
T30 0 601 (35483, 21)
T30 0 602 (35742, 21)
T30 0 63 (36001, 21)
T30 0 70 (36260, 21)
T30 2 00 (36519, 21)
T30 2 75 (36778, 21)
T30 2 10 (37037, 21)
T30 2 20 (37296, 21)
T30 2 201 (37555, 21)
T30 2 202 (37814, 21)
T30 2 30 (38073, 21)
T30 2 301 (38332, 21)
T30 2 302 (38591, 21)
T30 2 40 (38850, 21)
T30 2 401 (39109, 21)
T30 2 402 (39368, 21)
T30 2 50 (39627, 21)
T30 2 501 (39886, 21)
T30 2 502 (40145, 21)
T30 2 60 (40404, 21)
T30 2 601 (40663, 21)
T30 2 602 (40922, 21)
T30 2 63 (41181, 21)
T30 2 70 (41440, 21)
T30 3 00 (41699, 21)
T30 3 75 (41958, 21)
T30 3 10 (42217, 21)
T30 3 20 (42476, 21)
T30 3 201 (42735, 21)
T30 3 202 (42994, 21)
T30 3 30 (43253, 21)
T30 3 301 (43512, 21)
T30 3 302 (43771, 21)
T30 3 40 (44030, 21)
T30 3 401 (44289, 21)
T30 3 402 (44548, 21)
T30 3 50 (44807, 21)
T30 3 501 (45066, 21)
T30 3 502 (45325, 21)
T30 3 60 (45584, 21)
T30 3 601 (45843, 21)
T30 3 602 (46102, 21)
T30 3 63 (46361, 21)
T30 3 70 (46620, 21)
T40 0 00 (46879, 21)
T40 0 75 (47138, 21)
T40 0 10 (47397, 21)
T40 0 20 (47656, 21)
T40 0 201 (47915, 21)
T40 0 202 (48174, 21)
T40 0 30 (48433, 21)
T40 0 301 (48692, 21)
T40 0 302 (48951, 21)
T40 0 40 (49210, 21)
T40 0 401 (49469, 21)
T40 0 402 (49728, 21)
T40 0 50 (49987, 21)
T40 0 501 (50246, 21)
T40 0 502 (50505, 21)
T40 0 60 (50764, 21)
T40 0 601 (51023, 21)
T40 0 602 (51282, 21)
T40 0 63 (51541, 21)
T40 0 70 (51800, 21)
T40 2 00 (52059, 21)
T40 2 75 (52318, 21)
T40 2 10 (52577, 21)
T40 2 20 (52836, 21)
T40 2 201 (53095, 21)
T40 2 202 (53354, 21)
T40 2 30 (53613, 21)
T40 2 301 (53872, 21)
T40 2 302 (54131, 21)
T40 2 40 (54390, 21)
T40 2 401 (54649, 21)
T40 2 402 (54908, 21)
T40 2 50 (55167, 21)
T40 2 501 (55426, 21)
T40 2 502 (55685, 21)
T40 2 60 (55944, 21)
T40 2 601 (56203, 21)
T40 2 602 (56462, 21)
T40 2 63 (56721, 21)
T40 2 70 (56980, 21)
T40 3 00 (57239, 21)
T40 3 75 (57498, 21)
T40 3 10 (57757, 21)
T40 3 20 (58016, 21)
T40 3 201 (58275, 21)
T40 3 202 (58534, 21)
T40 3 30 (58793, 21)
T40 3 301 (59052, 21)
T40 3 302 (59311, 21)
T40 3 40 (59570, 21)
T40 3 401 (59829, 21)
T40 3 402 (60088, 21)
T40 3 50 (60347, 21)
T40 3 501 (60606, 21)
T40 3 502 (60865, 21)
T40 3 60 (61124, 21)
T40 3 601 (61383, 21)
T40 3 602 (61642, 21)
T40 3 63 (61901, 21)
T40 3 70 (62160, 21)
T50 0 00 (62419, 21)
T50 0 75 (62678, 21)
T50 0 10 (62937, 21)
T50 0 20 (63196, 21)
T50 0 201 (63455, 21)
T50 0 202 (63714, 21)
T50 0 30 (63973, 21)
T50 0 301 (64232, 21)
T50 0 302 (64491, 21)
T50 0 40 (64750, 21)
T50 0 401 (65009, 21)
T50 0 402 (65268, 21)
T50 0 50 (65527, 21)
T50 0 501 (65786, 21)
T50 0 502 (66045, 21)
T50 0 60 (66304, 21)
T50 0 601 (66563, 21)
T50 0 602 (66822, 21)
T50 0 63 (67081, 21)
T50 0 70 (67340, 21)
T50 2 00 (67599, 21)
T50 2 75 (67858, 21)
T50 2 10 (68117, 21)
T50 2 20 (68376, 21)
T50 2 201 (68635, 21)
T50 2 202 (68894, 21)
T50 2 30 (69153, 21)
T50 2 301 (69412, 21)
T50 2 302 (69671, 21)
T50 2 40 (69930, 21)
T50 2 401 (70189, 21)
T50 2 402 (70448, 21)
T50 2 50 (70707, 21)
T50 2 501 (70966, 21)
T50 2 502 (71225, 21)
T50 2 60 (71484, 21)
T50 2 601 (71743, 21)
T50 2 602 (72002, 21)
T50 2 63 (72261, 21)
T50 2 70 (72520, 21)
T50 3 00 (72779, 21)
T50 3 75 (73038, 21)
T50 3 10 (73297, 21)
T50 3 20 (73556, 21)
T50 3 201 (73815, 21)
T50 3 202 (74074, 21)
T50 3 30 (74333, 21)
T50 3 301 (74592, 21)
T50 3 302 (74851, 21)
T50 3 40 (75110, 21)
T50 3 401 (75369, 21)
T50 3 402 (75628, 21)
T50 3 50 (75887, 21)
T50 3 501 (76146, 21)
T50 3 502 (76405, 21)
T50 3 60 (76664, 21)
T50 3 601 (76923, 21)
T50 3 602 (77182, 21)
T50 3 63 (77441, 21)
T50 3 70 (77700, 21)
T60 0 00 (77959, 21)
T60 0 75 (78218, 21)
T60 0 10 (78477, 21)
T60 0 20 (78736, 21)
T60 0 201 (78995, 21)
T60 0 202 (79254, 21)
T60 0 30 (79513, 21)
T60 0 301 (79772, 21)
T60 0 302 (80031, 21)
T60 0 40 (80290, 21)
T60 0 401 (80549, 21)
T60 0 402 (80808, 21)
T60 0 50 (81067, 21)
T60 0 501 (81326, 21)
T60 0 502 (81585, 21)
T60 0 60 (81844, 21)
T60 0 601 (82103, 21)
T60 0 602 (82362, 21)
T60 0 63 (82621, 21)
T60 0 70 (82880, 21)
T60 2 00 (83139, 21)
T60 2 75 (83398, 21)
T60 2 10 (83657, 21)
T60 2 20 (83916, 21)
T60 2 201 (84175, 21)
T60 2 202 (84434, 21)
T60 2 30 (84693, 21)
T60 2 301 (84952, 21)
T60 2 302 (85211, 21)
T60 2 40 (85470, 21)
T60 2 401 (85729, 21)
T60 2 402 (85988, 21)
T60 2 50 (86247, 21)
T60 2 501 (86506, 21)
T60 2 502 (86765, 21)
T60 2 60 (87024, 21)
T60 2 601 (87283, 21)
T60 2 602 (87542, 21)
T60 2 63 (87801, 21)
T60 2 70 (88060, 21)
T60 3 00 (88319, 21)
T60 3 75 (88578, 21)
T60 3 10 (88837, 21)
T60 3 20 (89096, 21)
T60 3 201 (89355, 21)
T60 3 202 (89614, 21)
T60 3 30 (89873, 21)
T60 3 301 (90132, 21)
T60 3 302 (90391, 21)
T60 3 40 (90650, 21)
T60 3 401 (90909, 21)
T60 3 402 (91168, 21)
T60 3 50 (91427, 21)
T60 3 501 (91686, 21)
T60 3 502 (91945, 21)
T60 3 60 (92204, 21)
T60 3 601 (92463, 21)
T60 3 602 (92722, 21)
T60 3 63 (92981, 21)
T60 3 70 (93240, 21)
T80 0 00 (93499, 21)
T80 0 75 (93758, 21)
T80 0 10 (94017, 21)
T80 0 20 (94276, 21)
T80 0 201 (94535, 21)
T80 0 202 (94794, 21)
T80 0 30 (95053, 21)
T80 0 301 (95312, 21)
T80 0 302 (95571, 21)
T80 0 40 (95830, 21)
T80 0 401 (96089, 21)
T80 0 402 (96348, 21)
T80 0 50 (96607, 21)
T80 0 501 (96866, 21)
T80 0 502 (97125, 21)
T80 0 60 (97384, 21)
T80 0 601 (97643, 21)
T80 0 602 (97902, 21)
T80 0 63 (98161, 21)
T80 0 70 (98420, 21)
T80 2 00 (98679, 21)
T80 2 75 (98938, 21)
T80 2 10 (99197, 21)
T80 2 20 (99456, 21)
T80 2 201 (99715, 21)
T80 2 202 (99974, 21)
T80 2 30 (100233, 21)
T80 2 301 (100492, 21)
T80 2 302 (100751, 21)
T80 2 40 (101010, 21)
T80 2 401 (101269, 21)
T80 2 402 (101528, 21)
T80 2 50 (101787, 21)
T80 2 501 (102046, 21)
T80 2 502 (102305, 21)
T80 2 60 (102564, 21)
T80 2 601 (102823, 21)
T80 2 602 (103082, 21)
T80 2 63 (103341, 21)
T80 2 70 (103600, 21)
T80 3 00 (103859, 21)
T80 3 75 (104118, 21)
T80 3 10 (104377, 21)
T80 3 20 (104636, 21)
T80 3 201 (104895, 21)
T80 3 202 (105154, 21)
T80 3 30 (105413, 21)
T80 3 301 (105672, 21)
T80 3 302 (105931, 21)
T80 3 40 (106190, 21)
T80 3 401 (106449, 21)
T80 3 402 (106708, 21)
T80 3 50 (106967, 21)
T80 3 501 (107226, 21)
T80 3 502 (107485, 21)
T80 3 60 (107744, 21)
T80 3 601 (108003, 21)
T80 3 602 (108262, 21)
T80 3 63 (108521, 21)
T80 3 70 (108780, 21)
T90 0 00 (109039, 21)
T90 0 75 (109298, 21)
T90 0 10 (109557, 21)
T90 0 20 (109816, 21)
T90 0 201 (110075, 21)
T90 0 202 (110334, 21)
T90 0 30 (110593, 21)
T90 0 301 (110852, 21)
T90 0 302 (111111, 21)
T90 0 40 (111370, 21)
T90 0 401 (111629, 21)
T90 0 402 (111888, 21)
T90 0 50 (112147, 21)
T90 0 501 (112406, 21)
T90 0 502 (112665, 21)
T90 0 60 (112924, 21)
T90 0 601 (113183, 21)
T90 0 602 (113442, 21)
T90 0 63 (113701, 21)
T90 0 70 (113960, 21)
T90 2 00 (114219, 21)
T90 2 75 (114478, 21)
T90 2 10 (114737, 21)
T90 2 20 (114996, 21)
T90 2 201 (115255, 21)
T90 2 202 (115514, 21)
T90 2 30 (115773, 21)
T90 2 301 (116032, 21)
T90 2 302 (116291, 21)
T90 2 40 (116550, 21)
T90 2 401 (116809, 21)
T90 2 402 (117068, 21)
T90 2 50 (117327, 21)
T90 2 501 (117586, 21)
T90 2 502 (117845, 21)
T90 2 60 (118104, 21)
T90 2 601 (118363, 21)
T90 2 602 (118622, 21)
T90 2 63 (118881, 21)
T90 2 70 (119140, 21)
T90 3 00 (119399, 21)
T90 3 75 (119658, 21)
T90 3 10 (119917, 21)
T90 3 20 (120176, 21)
T90 3 201 (120435, 21)
T90 3 202 (120694, 21)
T90 3 30 (120953, 21)
T90 3 301 (121212, 21)
T90 3 302 (121471, 21)
T90 3 40 (121730, 21)
T90 3 401 (121989, 21)
T90 3 402 (122248, 21)
T90 3 50 (122507, 21)
T90 3 501 (122766, 21)
T90 3 502 (123025, 21)
T90 3 60 (123284, 21)
T90 3 601 (123543, 21)
T90 3 602 (123802, 21)
T90 3 63 (124061, 21)
T90 3 70 (124320, 21)

In [28]:
df.head()

         TBL_NM  PRD_DE       TBL_ID   ITM_NM  ... C1_NM C2_NM C1_NM_ENG C2_NM_ENG
0  성/연령별 경제활동인구  199906  DT_1DA7012S  15세이상인구  ...     계     계     Total     Total
1  성/연령별 경제활동인구  199907  DT_1DA7012S  15세이상인구  ...     계     계     Total     Total
2  성/연령별 경제활동인구  199908  DT_1DA7012S  15세이상인구  ...     계     계     Total     Total
3  성/연령별 경제활동인구  199909  DT_1DA7012S  15세이상인구  ...     계     계     Total     Total
4  성/연령별 경제활동인구  199910  DT_1DA7012S  15세이상인구  ...     계     계     Total     Total

[5 rows x 21 columns]

In [29]:
df_final = df[['PRD_DE', 'ITM_NM', 'ITM_ID', 'C1_NM', 'C1', 'C2_NM', 'C2', 'DT']]

In [34]:
from google.colab import files
df_final.to_csv('Kosis_Data(utf-8-sig).csv', encoding='utf-8-sig')
files.download('Kosis_Data(utf-8-sig).csv')