<a href="https://colab.research.google.com/github/barkle2/Programming/blob/master/%5BPython%5D%20KOSIS_API/kosis_test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
key = 'MDUwYjkzYmRhZjc4Yzk5M2QyZDg1NDBhNjNlOTNjZmQ='
기관코드 = 101
통계표ID = DT_1DA7012S

In [ ]:
# 성별 코드
sex_id = {
    '계': '0',
    '남자': '2',
    '여자': '3'
}

# 연령 코드
age_id = {
    '계': '00',
    '15 - 29세': '75',
    '15 - 19세': '10',
    '20 - 29세': '20',
    '20 - 24세': '201',
    '25 - 29세': '202',
    '30 - 39세': '30',
    '30 - 34세': '301',
    '35 - 39세': '302',
    '40 - 49세': '40',
    '40 - 44세': '401',
    '45 - 49세': '402',
    '50 - 59세': '50',
    '50 - 54세': '501',
    '55 - 59세': '502',
    '60세이상': '60',
    '60 - 64세': '601',
    '65세 이상': '602',
    '15 - 64세': '63',
    '15 - 24세': '70'
}

# 항목 코드
obj_id = {
    '인구': 'T10',
    '경제활동인구': 'T20',
    '취업자': 'T30',
    '실업자': 'T40',
    '비경제활동인구': 'T50',
    '경제활동참가율': 'T60',
    '실업률': 'T80',
    '고용률': 'T90'
}

In [ ]:
query = 'https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=MDUwYjkzYmRhZjc4Yzk5M2QyZDg1NDBhNjNlOTNjZmQ=&itmId=T90+&objL1=0+&objL2=00+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=199906&endPrdDe=202011&loadGubun=1&orgId=101&tblId=DT_1DA7012S'

In [ ]:
https://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&
apiKey=MDUwYjkzYmRhZjc4Yzk5M2QyZDg1NDBhNjNlOTNjZmQ=&
itmId=T90+&objL1=0+&objL2=00+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&startPrdDe=199906&endPrdDe=202011&loadGubun=1&orgId=101&tblId=DT_1DA7012S'