<a href="https://colab.research.google.com/github/barkle2/Programming/blob/master/%5BPython%5D%20List/List_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python List

## 리스트 선언 및 초기화

In [10]:
# 리스트 선언 방법 1
empty_list1 = []
print(empty_list1)
# 리스트 선언 방법 2
empty_list2 = list()
print(empty_list2)

[]
[]

In [25]:
# 리스트 선언 + 초기화
num_list = [3,1,2,5,4]

In [26]:
# 리스트 출력 방법 1
num_list

[3, 1, 2, 5, 4]

In [27]:
# 리스트 출력 방법 2
print(num_list)

[3, 1, 2, 5, 4]

## 리스트 정렬 및 연산

In [30]:
# sorted 함수를 사용하면 정렬된 리스트를 반환한다.
sorted(num_list)

[1, 2, 3, 4, 5]

In [31]:
# num_list는 그대로이다.
num_list

[3, 1, 2, 5, 4]

In [33]:
# sort 함수를 사용하면 num_list의 값이 정렬된 값으로 변한다.
num_list.sort()
num_list

[1, 2, 3, 4, 5]

In [35]:
# 최대값 찾기
max(num_list)

5

In [36]:
# 최소값 찾기
min(num_list)

1

In [37]:
# 합계 구하기
sum(num_list)

15

In [41]:
# 원소 갯수 구하기
len(num_list)

5